workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always
    - when: never

stages:
  - build
  - deploy

build_backend_image:
  stage: build
  image: docker:24.0.7
  services:
    - docker:24.0.7-dind
  variables:
    DOCKER_TLS_CERTDIR: ""  
  rules:
    - if: '$PIPELINE_MODE == "build"'
  when: manual
  before_script:
    - apk add --no-cache openjdk21-jdk maven git
    - java -version
    - mvn -v
  script:
    - echo "== Build Maven project =="
    - cd BackEnd
    - mvn clean package -DskipTests
    - cd ..

    - export IMAGE_NAME="$CI_REGISTRY_IMAGE"
    - export TAG_SHA="$CI_COMMIT_SHA"
    - export TAG_RUN="run-$CI_PIPELINE_ID"

    - echo "== Login to GitLab Container Registry =="
    - echo "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin

    - echo "== Build docker image =="
    - docker build \
        -f BackEnd/DockerFile \
        -t "$IMAGE_NAME:$TAG_SHA" \
        -t "$IMAGE_NAME:$TAG_RUN" \
        -t "$IMAGE_NAME:latest" \
        BackEnd

    - echo "== Push images =="
    - docker push "$IMAGE_NAME:$TAG_SHA"
    - docker push "$IMAGE_NAME:$TAG_RUN"
    - docker push "$IMAGE_NAME:latest"

    - echo "== Build done. You can use one of these tags in deploy =="
    - echo "  $IMAGE_NAME:$TAG_SHA"
    - echo "  $IMAGE_NAME:$TAG_RUN"
    - echo "  $IMAGE_NAME:latest   (Not suggested for production env)"

deploy-to-vps:
  stage: deploy
  image: alpine:3.20
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - cp "$SSH_PRIVATE_KEY" ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan -H "$VPS_HOST" >> ~/.ssh/known_hosts
  script:
    - |
      ssh "$VPS_USER@$VPS_HOST" << 'EOF'
        set -ex
        echo "== whoami =="
        whoami
      EOF
  only:
    - main    
  environment:
    name: production

