apiVersion: batch/v1
kind: Job
metadata:
  name: flyway-migrate
spec:
  ttlSecondsAfterFinished: 60
  backoffLimit: 1  
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: flyway
        image: flyway/flyway:10

        args:
          - -url=jdbc:mysql://db:3306/$(MYSQL_DATABASE)?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC&characterEncoding=utf8
          - -user=$(MYSQL_USER)
          - -password=$(MYSQL_PASSWORD)
          - -locations=filesystem:/flyway/sql
          - -baselineOnMigrate=true
          - migrate

        envFrom:
          - secretRef:
              name: freelancer-secret

        volumeMounts:
          - name: migration-sql
            mountPath: /flyway/sql

      volumes:
        - name: migration-sql
          configMap:
            name: flyway-sql